.consulting-list .consulting-item{
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}
.consulting-list .consulting-img {
    max-width: 60px;
    height: 58px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.about-count {
    margin-top: -150px;
    width: 840px;
    max-width: 80%;
    padding: 66px 66px 0;
    margin-bottom: 30px;
    background-color: #0a0c10;
    color:#fff;
    margin-left: auto;
}
.about-count .ac-item {
    margin-bottom: 66px;
}

.about-count .ac-heading{
    font-weight: 700;
    font-size: 36px;   
    display: block;
}
 .ourvalue-block {
    margin-left: auto;
 }
 .our-value-item {
    position: relative;
    overflow: hidden !important;
    text-align: center;
    padding: 20px 20px 4px;
    border-radius: 10px;
    border: 1px solid #3c3c3c;
    margin-bottom: 30px;
}

.our-value-item:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-radius: 10px;    
    backdrop-filter: blur(40px);    
    z-index: 1;
    height: 100% !important;
    width: 100%;

}
.our-value-item:after {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    content: "";
    height: 110px;
    width: 110px;
    top: 70px;
    opacity: .5;
    background: transparent linear-gradient(132deg, #32478a, #1f52f5) 0 0 no-repeat padding-box;
}
.our-value-item .our-value-content {
    z-index: 2;
    position: relative;
}
.our-value-item .our-value-icon {
    margin-top: 45px;
    margin-bottom: 45px;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
 .our-value-item .our-value-heading {
    margin-bottom: 12px;
}
.what-we-item {
    margin-top: 60px;
}
.team-list .team-item{
    margin-bottom: 30px;
}
.team-list .team-photo{
    position: relative;
    overflow: hidden;
}
.team-list .team-contant {
    margin-top: 20px;
    position: relative;
}
.team-list .team-contant .team-linkedin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0 !important

}
.team-list .team-name {
    margin-bottom: 6px !important;
}
.team-list .team-position {
    opacity: .7;
    font-size: 14px !important;
    margin-bottom: 0 !important;
}
.team-hire {
    position: relative;
    padding: 66px 20px;
    height: calc(100% - 74px);
    min-height: 270px;
    background: transparent linear-gradient(190deg, #32478a, #d3caf791) 0 0 no-repeat padding-box;
    color: #fff;
    text-align: center;
}
.team-hire .img-jointeam{
    position: absolute;
    left: 0;
    bottom: 0;
}
.teamphoto-sm .team-avatar{
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    transition: all .3s ease-in-out;    
    opacity: .7;    
    /* background-color: rgba(0, 0, 255, 0.5); */
}


.teamphoto-sm .team-avatar:hover{
  opacity: 1.0;  
}
.teamphoto-sm .left-teamphotos{
    width: 100%;
}

.teamphoto-sm .middle-teamphoto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.teamphoto-sm {
    padding-top: 70px;
}

.teamphoto-sm .middle-teamphoto .out-people-card {
    height: 100%;
    margin-bottom: 8px;
}
.our-people {
    padding: 30px 20px;
    display: flex;
    justify-content: center;   
    align-items: center;
    background-color: #32478a;
    color: #fff;
    height: 100%;
}
.our-people .h2, .our-people h2 {
    font-size: 3.75rem;
    line-height: 4.875rem;
    max-width: 440px;
    text-align: center;    
    margin-bottom: 0;
    width: 100%;
}
.teamphoto-sm .row{
    padding: 0px 8px;
}

.teamphoto-content{
    padding: 0px 4px;
}

#section-timeline .timeline-bg {    
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.section-timeline-content{
    position: relative;
}

#timeline-slider{
    margin-top: 80px;
    padding-bottom: 70px;
}

#timeline-slider .item {
    cursor: move;
}
#timeline-slider .item .timeline-item-inner {
    padding-left: 15px;
    padding-right: 15px;
}
#timeline-slider .item .timeline-item-inner .timeline-year {
    font-weight: 700 !important;
    font-size: 16px;
    margin-bottom: 0;
}

#timeline-slider .item .timeline-item-inner .timeline-icon {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 56px;
    height: 56px;
    box-shadow: 0 3px 20px rgba(0,0,0,.14);
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(132deg, #32478a, #405175) 0 0 no-repeat padding-box;
    border-radius: 50%;
    padding: 10px;
}

#timeline-slider .item .timeline-item-inner .timeline-desc-card {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
#timeline-slider .item .timeline-item-inner .timeline-desc-card h6{
    margin: 0;
}
#timeline-slider .item .timeline-item-inner .timeline-desc-card p{
    font-size: 14px;
    margin-top: 12px;
}


#timeline-slider .owl-stage-outer {
    padding-left:107px;
}
.slider-hr-line:before {
    content: "";
    top: 110px;
    width: 100%;
    border-top: 2px dashed #32478a;
    opacity: .1;
    z-index: -1;
    position: absolute;
    right: 0;
    top: 290px;
}

.about-map {
    color: #fff !important;
}

.our-culture-section h3 {
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 42px;
}

.our-culture-section .item img, .about-count, .section-web-preview video {
    border-radius: 10px;
}

#our-culture-slider {
    margin-top: 40px;
    cursor: move;
  
}
#our-culture-slider .owl-item{
    padding: 0px 10px !important;
}

#our-culture-slider .owl-stage {
   display: flex;
   justify-content: center;
   align-items: center;
}
.what-we-item .what-we-icon {
    padding-bottom: 30px;
}
