


/* header css start here */


#header  {
    padding: 15px;
    box-shadow: 0 .15rem .25rem rgba(10,12,16,.05)!important;
  }

  #header .nav-item a,button {
    font-weight: 500;
  }

  #header .nav-item .nav-link {
    padding: 0px 20px;
  }
  #header .dropdown-toggle::after{
    display: none;
  }

  .header-botton{   
     background-color: #32478a;
     color: #fff;
     padding: 10px 30px;
     /* border: none; */
     border-radius: 10px;
     border: 2px solid transparent;
     white-space: nowrap;
     transition: .85s;     
  }
  .header-botton:hover{   
    background-color: #fff;
    color: #32478a;   
    border: 2px solid #32478a; 
    transition: .85s;   
    transform: scale(1.03);
 }

 .botton-2 {
    background-color: #000;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    transition: .85s; 
}
.botton-2:hover{
    transition: .85s;   
    transform: scale(1.05);
    color: #32478a;      
   
}

.button-3{
    background-color: #fff;
    color: #000;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    transition: .85s; 
}

.button-3:hover{
    transition: .85s;   
    transform: scale(1.05);
}

  #header .theme-color-change-btn {
    margin-left: 10px;
}
#header .dropdown-toggle .show .nav-link .caret-icon svg {
    transform: rotate(-180deg);
}
#header .dropdown-toggle .nav-link .caret-icon svg path {
    transition: stroke .07s;
}
 
#header .dropdown-toggle .nav-link .caret-icon svg {
    transition: all .3s ease-out;
}

#header .sub-menu-sidebox {
    padding: 0;
}
#header .mobile-con-btn, .mobile-theme-color-change-btn{
    display: none;
}
/* end header css start here */






/* sub menu css start here */

#header .dm-item {
    display: flex;
}
#header .dm-item-heading{
    line-height: 22px;
    margin: 0;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 6px;
}
#header .dm-item p {
    font-size: .875rem !important;
    line-height: 20px;
}
.card-cta {
    padding: 54.5px 30px;
}
#header .dropdown-fluid .dropdown-col-second {
    max-width: 406px;
}
#header .dropdown-fluid  .card-cta-dark{
    background-color: #000;
    color: #fff;
 }
 /* #header  .bg-white{
    min-width: 170px;
    border-radius: 0;
    padding: 10px 20px;
 } */
 #header .cta-heading {
    margin-bottom: 22px;
}
#header .mobile-dropdown-2{
    justify-content: space-between;
    padding-right: 140px;
}
#header .dm-item-list ul li {
    line-height: 26px;
    font-size: 14px;
}
#header .techlonogy-dropdown{
    padding-bottom: 42px;
}
#header .technology-menu .card-cta {
    padding: 61.3px 30px !important;
}
#header .dropdown-menu{
    max-width: 1440px;
    position: absolute;
    left: 0;
    right: 0;
    top: 81px;
    margin: auto;
    box-shadow: 0 3px 40px #0a0c1014 !important;
}

#header .dm-item-list {
    --tw-gutter-x: 1rem;
    margin-left: 10px !important;
}
#header .navbar-nav li {
    margin: auto;
}

#header  .dm-item {
    margin-bottom: 25px;
    padding-right: 28px;
}
#header .dm-list {
    margin-left: 10px;
}
#header .dropdown-fluid .dropdown-col-first {
    padding: 25px 15px 0px 15px;
    background-color: #fff; 
}
#header .dropdown-fluid .dm-item-icon {  
    width: 48px;
    height: 48px; 
    padding: 6px;
    background-color: #f7f9fb;
    border-radius: 30px;    
    text-align: center;
}
#header .dropdown-menu {
    border: none;
    background: #fff;
    padding: 0;
}
#header  .dm-item-bottom {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 24px;
    background: transparent linear-gradient(99deg, #32478a, #000) 0 0 no-repeat padding-box;
}
#header .dropdown-fluid .dm-item-icon img {
    width: 35px;
    height: 35px; 
}
/* #header .techlonogy-dropdown{
    margin-right: 130px;
} */
/* end sub menu css here */

/* hero section css start here */
    #hero-section {
        position: relative;
        padding: 120px 0px;
        height: calc(100vh - 96px);
        min-height: 600px;
        max-height: 900px;      
    }
    .hero-content p{
        font-size: 1.375rem;
        line-height: 32px;
        margin-bottom: 36px;
      }
    
    
    .mouse:before {
        width: 20px;
        height: 36.62px;
        background-color: #fff;
        border-radius: 100px;
    }
    .mouse:after, .mouse:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    #hero-section .btn-scroll-down{
        position: absolute;
        left: 50%;
        bottom: 20px;
        margin-left: -12px;
    }
    .mouse:after {
        background-color: #32478a;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        animation: trackBallSlide 6s linear infinite;
    }
    .mouse:after, .mouse:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .mouse {
        /* border: 2px solid black; */
        --tw-bg-opacity: 0.25;
        background: #000;
        position: relative;
        width: 24px;
        height: 40.62px;
        border-radius: 100px;
        background-size: 100% 200%;
        animation: colorSlide 6s linear infinite, nudgeMouse 6s ease-out infinite;
    }  
    @keyframes colorSlide {
        0% {
            background-position: 0 100%
        }
    
        20% {
            background-position: 0 0
        }
    
        21% {
            background-color: #000;
        }
    
        29.99% {
            background-color: #000;
            background-position: 0 0
        }
    
        30% {
            background-color: #000;
            background-position: 0 100%
        }
    
        50% {
            background-position: 0 0
        }
    
        51% {
            background-color: #000;
        }
    
        59% {
            background-color: #000;
            background-position: 0 0
        }
    
        60% {
            background-color: #000;
            background-position: 0 100%
        }
    
        80% {
            background-position: 0 0
        }
    
        81% {
            background-color: #000;
        }
    
        90%,to {
            background-color: #000;
        }
    }
    
    @keyframes trackBallSlide {
        0% {
            opacity: 1;
            transform: scale(1) translateY(-10px)
        }
    
        6% {
            opacity: 1;
            transform: scale(.9) translateY(2.5px)
        }
    
        14% {
            opacity: 0;
            transform: scale(.4) translateY(20px)
        }
    
        15%,19% {
            opacity: 0;
            transform: scale(.4) translateY(-10px)
        }
    
        28%,29.99% {
            opacity: 1;
            transform: scale(1) translateY(-10px)
        }
    
        30% {
            opacity: 1;
            transform: scale(1) translateY(-10px)
        }
    
        36% {
            opacity: 1;
            transform: scale(.9) translateY(2.5px)
        }
    
        44% {
            opacity: 0;
            transform: scale(.4) translateY(20px)
        }
    
        45%,49% {
            opacity: 0;
            transform: scale(.4) translateY(-10px)
        }
    
        58%,59.99% {
            opacity: 1;
            transform: scale(1) translateY(-10px)
        }
    
        60% {
            opacity: 1;
            transform: scale(1) translateY(-10px)
        }
    
        66% {
            opacity: 1;
            transform: scale(.9) translateY(2.5px)
        }
    
        74% {
            opacity: 0;
            transform: scale(.4) translateY(20px)
        }
    
        75%,79% {
            opacity: 0;
            transform: scale(.4) translateY(-10px)
        }
    
        88%,to {
            opacity: 1;
            transform: scale(1) translateY(-10px)
        }
    }
    
    @keyframes nudgeMouse {
        0% {
            transform: translateY(0)
        }
    
        20% {
            transform: translateY(4px)
        }
    
        30% {
            transform: translateY(0)
        }
    
        50% {
            transform: translateY(4px)
        }
    
        60% {
            transform: translateY(0)
        }
    
        80% {
            transform: translateY(4px)
        }
    
        90% {
            transform: translateY(0)
        }
    }
/* end hero section css start here */


/* work slider css */

    #carouselExampleIndicators .slider-items {
        padding: 50px 70px;
       
    }

 #carouselExampleIndicators .slider-main-image img {
    width: 400px;
    height: 600px;
    border-radius: 10px;
   
  }
  #carouselExampleIndicators h2{
    color: #fff;
    margin-bottom: 30px;    
  }

  #carouselExampleIndicators p{
    color: #fff;    
    line-height: 28px;
  }
    #carouselExampleIndicators .tools-list li {
    background: transparent linear-gradient(90deg, #1f212b, #aaadb7) 0 0 no-repeat padding-box;
    width: 50px;
    padding: 6px;
    text-align: center;
    margin: 5px;    
    border-radius: 10px 0px;    
  }
  .slider-main-image {
    text-align: end;
  }

  
  /* #carouselExampleIndicators .tools-list li svg {   
   padding: 3px;
    margin: auto;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: #fff;  
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    background-repeat: no-repeat;    
    background-size: 22px;
} */  

/* end work slider css */

/* client logo section css start*/
    .client-logo{
        background-color: black;
        padding: 42px 0px 42px 20px;
    }
    .client-logo .logos i {
        padding: 0px 40px;
    }
    .client-logo h2 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 42px;
        color: #fff;
    }

    #client-logo-content .owl-stage{
        display: flex;
        align-items: center; 
        justify-content: center; 
    }
    #client-logo-content .item img{
        width: 150px;            
        height: auto;
        margin: auto;
    }
    /* .client-slider-section {
        overflow: hidden;
        .slider {
        animation: slidein 30s linear infinite;
        white-space: nowrap;
        .logos {            
            display: inline-block;
            margin: 0px 0;
            .fab {
            color: #fff;
            width: calc(100% / 5);
            animation: fade-in 0.5s 
                cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
            }
        }
        }
    } */
    
    @keyframes slidein {
        from {
        transform: translate3d(0, 0, 0);
        }
        to {
        transform: translate3d(-100%, 0, 0);
        }
    }
    
    @keyframes fade-in {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
/* end client logo section css end */



/* section infrastructure css start */
 
    #section-infrastructure h2 {
        margin-bottom: 40px;
    }
    #section-infrastructure {
        padding: 80px 0px;
    
  }
  .infra-item .infra-head{
    margin-bottom: 16px;
    display: flex;
  }
  .infra-item {
    margin-top: 20px ;
  }
  .infra-item .item-icon {
    width: 48px;
    height: 48px;
}
.infra-item .item-icon, .me-12 {
    margin-right: 12px !important;
}
/* end section infrastructure css  */





/* slick slider css start here */

.carousel-control-prev, .carousel-control-next {
    width: 100px;
    padding: 10px;
}

/* end slick slider css here  */





/* services section css start here */

  .service-box-color{
    background-color: #eff2fc;
    
  }
  
  .service-box:hover .service-icon img {
    transform: scale(1.30);  
    transition: .85s;
   
  }
  .service-box:hover .link-rounded svg{
    transform: scale(1.70);  
    transition: .85s; 
  }
  .service-box .link-rounded svg{
     transition: .85s;    
  }
  #service .service-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
  }

  #service .service-box::after {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;    
	content: '';
	width: 0;
	height: 0;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
#service .service-box:hover::after {
	-webkit-animation: circle .85s;
	animation: circle .85s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
  .service-box-text {
    margin: auto;
  }
  .img-contain {
    margin-bottom: 30px;
  }
  .service-icon img{
    margin-bottom: 50px;
    transition: .85s;   
  }

/* end services section css start here */
  
  



/* testimonial css start here  */


 #testimonial {
    padding: 50px 0;
  }
  #testimonial .row .tabs {
    all: unset;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
  }
  #testimonial .row .tabs li {
    all: unset;
    display: block;
    position: relative;
  }
  #testimonial .row .tabs li.active::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #32478a;
    border-radius: 50%;
  }
  #testimonial .row .tabs li.active::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #32478a;
    border-radius: 50%;
  }
   #testimonial .row .tabs li:nth-child(1) {
    align-self: flex-end;
  }
   #testimonial .row .tabs li:nth-child(1)::before {
    left: 64%;
    bottom: -50px;
  }
   #testimonial .row .tabs li:nth-child(1)::after {
    left: 97%;
    bottom: -81px;
  }
   #testimonial .row .tabs li:nth-child(1) figure img {
    margin-left: auto;
  }
   #testimonial .row .tabs li:nth-child(2) {
    align-self: flex-start;
  }
   #testimonial .row .tabs li:nth-child(2)::before {
    right: -65px;
    top: 50%;
  }
   #testimonial .row .tabs li:nth-child(2)::after {
    bottom: 101px;
    border-radius: 50%;
    right: -120px;
  }
   #testimonial .row .tabs li:nth-child(2) figure img {
    margin-right: auto;
    max-width: 300px;
    width: 100%;
    margin-top: -50px;
  }
   #testimonial .row .tabs li:nth-child(3) {
    align-self: flex-end;
  }
   #testimonial .row .tabs li:nth-child(3)::before {
    right: -10px;
    top: -66%;
  }
   #testimonial .row .tabs li:nth-child(3)::after {
    top: -130px;
    border-radius: 50%;
    right: -46px;
  }

  #testimonial .carousel-indicators button{
    background-color: #32478a !important;
    visibility: hidden;
  }
   #testimonial .row .tabs li:nth-child(3) figure img {
    margin-left: auto;
    margin-top: -50px;
  }
   #testimonial .row .tabs li:nth-child(3):focus {
    border: 10px solid red;
  }
   #testimonial .row .tabs li figure {
    position: relative;
  }
   #testimonial .row .tabs li figure img {
    display: block;
  }
   #testimonial .row .tabs li figure::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 2px solid #32478a;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
   #testimonial .row .tabs li figure:hover::after {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
   #testimonial .row .tabs.carousel-indicators li.active figure::after {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
   #testimonial .row .carousel > h3 {
    font-size: 20px;
    line-height: 1.45;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    margin-bottom: 20px;
  }
 

  
  @media only screen and (max-width: 1200px) {
     #testimonial .row .tabs {
      margin-right: 25px;
    }
  }

   

/* end testimonial css start here  */



/* techstack css strat here */

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #32478a;
        border-radius: 0;
        border-bottom: 2px solid #32478a;
        background-color: #b0bac900;
        font-size: 1.125rem;
        
    }
    .nav-link {
        color: black;
    }
    
    #techstack {
        padding: 100px 0px;
    }
    #techstack .nav-pills{
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
    }
    
    .tech-content{
        margin-top: 10px;
    
    }
    .tech-box{
        padding: 30px 20px;
        width: 180px;
        height: auto;
        margin: 20px;
        background-color: #fff;
        border: 2px solid #e3dfdf;
        border-radius: 100px;
        transition: .85s;
    }
    .tech-box:hover {
        border: 2px solid #32478a;
        transition: .85s;  
        transform: scale(1.1);      
    }
    
    .tech-box img {
        width: 48px;
        height: 48px; 
    }

    .tech-box p{
        margin-top: 20px;
    }
  
/* end techstack css strat here */
  
  

/* business-models css strat here */

    #business-models {
        padding: 50px 0px;
    }
    #business-models .nav-pills li {
        margin: 0px 30px;
    }
  
/* end business-models css strat here */


/* portfolio tabs css start here */

    #portfolio{
        padding: 50px 0px;
    }  

    #portfolio .nav-pills .nav-link {
    border-bottom: 1px solid #eceded;
    width: 100%;
    text-align: left;
    padding: 10px 0px;
    border-radius: 0;
    white-space: nowrap;
    }

    #portfolio .nav-pills .nav-link.active {        
        border-bottom: 1px solid #32478a;
        display: flex;
        justify-content: space-between;    
        align-items: flex-end;
    }

    #portfolio .side-panel {
        box-shadow: 0 3px 20px rgba(10,12,16,.1);
        background-color: #fff;
        border-radius: 10px;
    }
    #portfolio .tech-content{
        padding: 10px;
    }
    #portfolio .tech-content img{
        box-shadow: 0 3px 20px rgba(10,12,16,.1);
        border-radius: 10px;
    }
  
    #portfolio .tech-content a {
        color: #32478a;
        font-size: 1rem;
        padding: 0px 45px;
    }
    #portfolio .nav-item{
        position: relative;
    }
    #portfolio .nav-pills .nav-link.active::after {
        content: "";
        width: 12px;
        height: 12px;
        transform: translateY(-50%) rotate(45deg);
        font-size: 8px;
        padding: 1px 5px;
        background: #32478a;
        border-radius: 1px;
        position: absolute;
        right: -17px;
        top: 50%;
        border-radius: 4px;
    }

    #portfolio .nav-pills .nav-link.active::before {
        content: "";
        width: 12px;
        height: 6px;
        transform: translateY(-50%);
        font-size: 8px;
        padding: 1px 5px;
        background: #b3bee3;
        border-radius: 1px;
        position: absolute;
        right: -7px;
        top: 50%;
        border-radius: 6px;
    }
   
/* end portfolio tabs css here */
.list-tick{
    padding: 0;
}
    .list-tick li {
        list-style: none;
        background: url(/assets/img/icons/check.svg) no-repeat left top;
        padding-left: 30px;
    }


/* blog section css start here */
    #blog-section {
        padding: 50px 0px ;
    }
    #blog-section .blog-content img {
        width: 100%;
        margin-bottom: 20px;
    }
    #blog-section .blog-content {
        text-align: left;
    }

/* end blog section css start here */

/* cta-section css start here */

   #cta-section {
    padding: 48px 0px ;
   }
   #cta-section .connect-card {
    background: transparent linear-gradient(99deg, #32478a, #000) 0 0 no-repeat padding-box;
    padding: 40px 50px;
   }

/* end cta-section css here */


/* footer css start here */

footer {
    padding-top: 50px;
}
footer .footer-address {
    border-bottom: 2px solid #eceded;
}

footer .text-address, .menu-list li  {
    font-size: 14px;
    line-height: 30px;
    color: #16181c;
}
footer .menu-list li a{
    color: #16181c;
}
.menu-list .cm-icon{
    background: transparent linear-gradient(132deg, #32478a, #32478a) 0 0 no-repeat padding-box;
    padding: 10px 4px 6px 8px;
    border-radius: 20px;
}
footer .footer-certificate {
    padding: 30px 0;
    border-bottom: 2px solid #eceded;
    border-top: 2px solid #eceded;
}

footer .footer-certificate .footer-logo{
    width: 100px;
}
footer .footer-certificate .footer-logo img{
    width: 50%;
}

footer .footer-certificate .social-links li{
    
    border: 1px solid grey;
    border-radius: 20px;
    padding: 3PX 5px 0px 5px;
    margin: 0px 10px;
}
footer .footer-location {
    margin-bottom: 18px;
}

footer .footer-bottom a {
    text-decoration: none;
    font-size: 14px;
    color: #16181c;
    padding: 0px 5px;    
}
footer .clock-item-dark {
    background-color: #000;
    padding: 8px;
    border-radius: 35px;
    color: #fff;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
    box-shadow: 0 .15rem .25rem rgba(10,12,16,.05)!important;
}
footer .clock-item-light{
    background-color: #fff;
    padding: 8px;
    border-radius: 35px;
    color: #000;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    font-weight: 500;
    margin-right: 10px;
    border: 1px solid #eceded;
    box-shadow: 0 .15rem .25rem rgba(10,12,16,.05)!important;
}
/* end footer css here */