

body {
  font-family: "Josefin Sans", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;   */
}
p{
  font-family: "Poppins", sans-serif;
  
}
a{
  text-decoration: none;
  cursor: pointer;

}

.View-this-project a {
  font-size: 1.125rem;
  line-height: 28px;
  color: #fff;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

#service a {
  color: #32478a !important;
  font-size: 1.125rem;
  line-height: 28px;
  text-decoration: none;
  padding-bottom: 5px;
}

h1 {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 72px;
  margin-bottom: 30px !important;
  }

  h2{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 48px;   
  }
  
  h3{
    font-weight: 700;
    font-size: 2rem;
  }
  
  h4{
    font-weight: 700;
    font-size: 1.375rem;    
  }
 h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 30px;
 }
 h6 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 18px
 }
 .section {
  position: relative;
 }
 
.heading-dark{
    color: #000;
  }
.text-primary {
  color: #32478a !important;
}
.nav-link:hover{
  color: #32478a !important;
}
.hero-section {
  padding-top: calc(50px + 96px);
  padding-bottom: 70px;
}
.section-py {
  padding: 70px 0px;
}
.section-py-sm {
  padding: 40px 0px;
}
.section-py-lg{
  padding-bottom: 90px;
}

.mb-20{
  margin-bottom: 20px;
}
.mb-18{
  margin-bottom: 18px;
}
.col-mb-30{
  margin-bottom: 30px !important;
}

.mb-40{
  margin-bottom: 40px;
}
.font-10 {
  font-size: 10px !important;
}
.font-600{
  font-weight: 600;
}
.font-400{
  font-weight: 400;
}
 .font-12 {
  font-size: 12px !important;
}
.font-16{
  font-size: 16px !important;
}
.social-links a{
  color: #32478a;
}
img{
  max-width: 100%;
}
.section-dark{
  background-color: #000;
  color: #fff;
}
.faqs-setion .accordion-button:not(.collapsed)::after{
  background-image: url("/assets/img/icons/minus-blue-icon.svg");
}

.faqs-setion .accordion-button::after{   
  background-image: url("/assets/img/icons/plus-blue-icon.svg");
}
.section-gradient-2{
  background-color: #eff2fc;
}
.sitemap-section .sitemap-block {
  margin-bottom: 70px;
}

.sitemap-section .sitemap-list .list-squre{
  display: grid;
  margin-top: .5rem !important;
  grid-template-columns: repeat(4, 1fr);
}

.sitemap-section .sitemap-list .list-squre li a {
  color: #000;
}
.section-gradient-3 {  
  background-image: linear-gradient(1turn, #eff2fc 0, #fff 100%);
}
.rounded-10{
  border-radius: 10px;
}

.dark-mode .breadcrumb-item.active{
  color: #32478a;
}

/* dark mode css start here */

.dark-mode, .dark-mode .pennine-nav, .dark-mode  #portfolio .side-panel, .dark-mode .our-case-studies, .dark-mode .emerging-item {
  background-color: #000 !important; 
  }
  
  .dark-mode .nav-item .show{
    color: #32478a;
  }
  .dark-mode .section-gradient-center{
    background-image: linear-gradient(1deg, #000 0, #21252e 50%, #000 100%);
  }
  .dark-mode .our-approach-section .accordion-button::after{
    background-color: #32478a;
  }

  .dark-mode .hire-step::before{
    background-image: linear-gradient(to right, rgb(0 0 0) 80%, rgb(50, 71, 138) 20%);
  }
.dark-mode .hire-step-content { 
  box-shadow: 0 3px 20px rgb(247 250 255 / 15%) !important;
}

.dark-mode h1, .dark-mode h2, .dark-mode .accordion-body, .dark-mode .our-approach-section .accordion .accordion-button, .dark-mode #header .dm-item-list ul li, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode p, .dark-mode a, .dark-mode .nav-link, .dark-mode footer .text-address {
  color: #fff;
}
.dark-mode footer .menu-list li a, .dark-mode .card-case-studies .card-body h4 span, .dark-mode .portfolio-section .item .slider-content h5 span{
  color: #fff !important;
}

.dark-mode .botton-2 {
  background-color: #ffffff;
  color: #000 !important; 
}

.dark-mode #header .dropdown-fluid .dropdown-col-first h6, .dark-mode .form-section .form-card, .dark-mode .sitemap-section .sitemap-list .list-squre li a  , .dark-mode .radio-list .form-check-label span ,  .dark-mode .faqs-setion .accordion .accordion-item .accordion-button, .dark-mode .helpdesk-card .helpdesk-content a, .dark-mode .breadcrumb-menu .breadcrumb-item a, .dark-mode footer .footer-bottom a{
  color: #fff;
}

.dark-mode #header .dropdown-fluid .dropdown-col-first, .dark-mode .faqs-setion .accordion .accordion-button:not(.collapsed),  .dark-mode .faqs-setion .accordion .accordion-item .accordion-button, .dark-mode .faqs-setion .accordion .accordion-item, .dark-mode #services .services-card, .dark-mode .dark-mode .hire-step-content, .dark-mode .card-case-studies, .dark-mode .card-cta-light, .dark-mode #timeline-slider .item .timeline-item-inner .timeline-desc-card, .dark-mode .form-section .form-card {
  background-color: #0a0c10;
}
/* .dark-mode .faqs-setion .accordion .accordion-item{
  border: 1px solid transparent;
} */

.dark-mode .section-gradient-ss, .dark-mode .section-gradient-3, .dark-mode .section-dark , .dark-mode .section-gradient-2, .dark-mode .tech-box, .dark-mode .service-box-color {
  background-color: #0a0c10 ;
  background-image: none;
}
.dark-mode .position-content h6, .dark-mode .position-content p, .dark-mode .card-upload .fileupload .upload-text span {
  color: #000;
}
.dark-mode .icon-theme-light {
  opacity: 0;
  visibility: hidden;
}

.dark-mode .icon-theme-dark {
  opacity: 1;
  visibility: visible;
}
.icon-theme-dark{
  opacity: 0;
  visibility: hidden;
}
.dark-mode #header .btn-menu-toggle span{
  background-color: #fff;
}